<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Password=(sa密碼);Persist Security Info=True;User ID=(sa帳號);Initial Catalog=(EFGP DB名稱);Data Source=(EFGP DB主機)" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
